@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

:root{
    --lead: #212121;
    --gold-finger: #f8c61f;
    --eye-ball: #FFFDF7;
    --hint-yellow: #FCF1CC;
    --pure-white: #FFF;
}

body {
    background: var(--pure-white);
}


/* Basic Styling */
a{
    font-size: 1.1rem;
    color: var(--lead);
    text-decoration: none;
}

li{
    list-style: none;
}



/* Header Styling */

.flex {
    display: flex;
    align-items: center;
}

.between {
    justify-content: space-between;
}

.navlist{
    gap: 3rem;
}

.navbar {
    min-height: 14vh;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold-finger);
}

.wrapper {
    max-width: 90%;
    /* background-color: red; */
    margin: auto;
    padding-inline: 1.5rem;
}

.btn {
    display: inline-block;
    background-color: var(--gold-finger);
    padding: 0.9rem 0.5rem;
    border-radius: 0.6rem;
    font-size: 1rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.314) 0 2px 0.8px;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--lead);
}

.desktop-action {
    gap: 1rem;
}

.cart-icon {
    color: var(--lead);
    font-size: 1.2rem;
    position: relative;
}

.cart-icon .cart-value {
    position: absolute;
    font-size: 0.7rem;
    aspect-ratio: 1;
    top: -50%;
    right: -10px;
    width: 20px;
    background-color: var(--gold-finger);
    text-align: center;
    line-height: 20px;
    border-radius: 100vw;
}

/* Main Styling */

/* Footer Styling */
