@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    /* border: .1rem solid red; */
}

:root{
    --lead: #212121;
    --gold-finger: #f8c61f;
    --eye-ball: #FFFDF7;
    --hint-yellow: #FCF1CC;
    --pure-white: #FFF;
}

body {
    background: var(--eye-ball);
}


/* Basic Styling */
a{
    font-size: 1.1rem;
    color: var(--lead);
    text-decoration: none;
}

li{
    list-style: none;
}



/* Header Styling */

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.between {
    justify-content: space-between;
}

.navlist{
    gap: 3rem;
}

.navbar {
    min-height: 14vh;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold-finger);
}

.wrapper {
    max-width: 90%;
    /* background-color: red; */
    margin: auto;
    padding-inline: 1.5rem;
}

.btn {
    display: inline-block;
    background-color: var(--gold-finger);
    padding: 0.9rem 0.5rem;
    border-radius: 0.6rem;
    font-size: 1rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.314) 0 2px 0.8px;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--lead);
}

.desktop-action {
    gap: 1rem;
}

.cart-icon {
    color: var(--lead);
    font-size: 1.2rem;
    position: relative;
}

.cart-icon .cart-value {
    position: absolute;
    font-size: 0.7rem;
    aspect-ratio: 1;
    top: -50%;
    right: -10px;
    width: 20px;
    background-color: var(--gold-finger);
    text-align: center;
    line-height: 20px;
    border-radius: 100vw;
}

.hamburger {
    display: none;
}

.mobile-menu {
    display: none;
}

/* Main Styling */

.hero-section {
    min-height: calc(100vh - 14vh);
    background-color: var(--eye-ball);
    display: flex;
}

.content,
.image-container {
    flex: 1;
}

img {
    max-width: 100%;
    margin: auto;
    height: auto;
    display: block;
}

h1 {
    font-size: 5.6vw;
    color: var(--lead);
    margin-top: 6.5rem;
}

h1 span {
    color: var(--gold-finger);
}

p {
    font-size: 1.3rem;
    line-height: 2rem;
    color: gray;
    font-weight: 400;
}

.para {
    margin-block: 1.5rem;
}


.order-social-row {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.social-icon {
    width: 3rem;
    aspect-ratio: 1;
    font-size: 1.4rem;
    border-radius: 1rem;
    background-color: var(--hint-yellow);
    transition: 0.3s ease-in-out;
}

.social-icon:hover {
    background-color: var(--lead);
    color: var(--pure-white);
}

.social-icon-container {
    display: flex;
    text-align: center;
    line-height: 3rem;
    gap: 1.2rem;
}

/* Footer Styling */














@media screen and (max-width:780px) {
    .navlist,
    .desktop-action > .btn {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 25%;
        left: -100%;
        transform: translateX(-50%);
        gap: 1.5rem;
        cursor: pointer;
        border: .1rem solid var(--gold-finger);
        border-radius: 2rem;
        width: 50%;
        padding: 2rem;
        background-color: var(--pure-white);
        box-shadow: rgba(0, 0, 0, 0.415) 1.5px 1.5px 0.2px,rgba(0, 0, 0, 0.415) 1.5px 1.5px 0.2px inset;
        transition: 0.4s linear;
    }

    .mobile-menu .btn{
        display: block;
    }

    .mobile-menu-active {
        left: 50%;
        transform: translateX(-50%);
    }



    /* Hero Section  */
    .hero-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h1{
        font-size: 2.2rem;
    }

    .content {
        order: 1;
    }

    .image-container {
        order: 2;
        margin-top: 2rem;
    }
}